html{
    scroll-behavior: smooth;
}

/*Estilos para header*/

ul{
    text-align: center;
    padding: 0;
    background-color: #21E7F7;
    height: 60px;
    padding-top: 15px;
    text-align:center;
    padding: 0;
    background-color: #21E7F7;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

li{
    font-size: 15;
    text-align: center;
    list-style: none;
    display: inline;
    color: #000;
    margin: 3%;
}

/*Estilos de DropDown*/
.dropLogin{
    position: relative;
}

.hide{
    display: none;
    position: absolute;
    background-color: #21E7F7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100px;
    height: 170px;
    margin-top:  0cm;
    z-index: 1;
    transform: translateX(31cm);
}

.hide li:hover{
    background-color: hsla(169, 78%, 80%, 0.596);
    border-radius: 15px;
}

.dropLogin:hover .hide{
    display: block;
}

/*Fim dos estilos para efeito Drop Down*/

/*Fim estilo para Header*/


body{
    background-color: #06f7ba;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 15;
    font-family: 'Bungee';
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    display: inline;
    margin: 3%;
    color:#001018;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #000;
}

#start{
    text-align: center;
}

#intro{
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: -340px;
}

h1{
    color: #f1f1f1;
}

#titulos{
    position: relative;
    bottom: 600px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}

ul{
    text-align:center;
    padding: 0;
    background-color: #21E7F7;
    height: 60px;
    
}

#produtos{
    background-color: #DEFFEF;
}

.grid-container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

#semanal1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}
#semanal2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#semanal3{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
}

#semanal4{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
}

#mensal1{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#mensal2{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#mensal3{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
}

#mensal4{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
}

#anual1{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

#anual2{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
}

#anual3{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
}

#anual4{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
}

#free{
    text-align: center;
}

.Example-btn5{
    font-family: Bebas Neue; 
    font-weight: 0; 
    width: 230px;
    margin: 0% auto;
    font-size: 14px; 
    text-align: right;
    color: #fff; 
    background: linear-gradient(90deg, #21E7F7 0%, #ffe739 100%); 
    padding: 10px 50px; 
    border: none; 
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; 
    border-radius: 50px; 
    transition : 1000ms; 
    transform: translateY(0); 
    font-family: Roboto, sans-serif;font-weight: 0;font-size: 14px;color: #fff;background: linear-gradient(90deg, #21e7f7 0%, #ffe739 100%);padding: 10px 30px;border: solid #000000 2px;box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;border-radius: 50px;transition : 999ms;transform: translateY(0);display: flex;flex-direction: row;align-items: center;cursor: pointer;
    }
    
.Example-btn5:hover{ 
    transition : 1000ms; 
    transform : translateY(-6px); 
    background: linear-gradient(90deg, #ffe739 0%, #21E7F7 100%); 
    color: #ffffff; 
    border: none;
    height: 120%;
    transition : 999ms;padding: 10px 100px;transform : translateY(-10px);background: linear-gradient(90deg, #21e7f7 0%, #ffe739 100%);color: #deffef;border: solid 2px #deffef;
}

    
section {
  width: 100%;
  display: inline-block;
  background: #FFE739;
  height: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

/* Efeitos para parte de comandos*/

#comandos{
    background-image: url(../fotos/manualBmo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7bd4b4;
    width: 75%;
    margin: 0% auto;
    border-radius: 25px;
    padding-bottom: 5px;
}
#listaCo{
    margin: 2% 20%;
    width: 100%;
}

#web, #Syste, #BMO{
    margin: 2% auto;
    width: 50%;
    background-color: white;
    opacity: 0.6;
    padding: 10px;
    white-space: normal
}

/* Fim de efeitos para parte de comandos*/


/*Efeitos para div de Detalhes*/

#detalhes{
    background-color: #21E7F7;
    margin: 2% auto;
    text-align: right;
    text-align-last: right;
    
    width: 70%;
    /*height: 500px;*/
    white-space: normal;
    padding: 5%;
    border-radius: 15px;
}

#textoDeta{
    margin-top: -150px;
}
/*Efeitos para fotos dentro da div detalhes*/

img #d3Bmo{
    margin-top: 0;
    width: 90px;
    vertical-align: sub;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 50%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 40%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 50px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/*Estilos para site responsivo*/

@media screen and (min-width: 600px) and(max-width: 900px){
    .hide{
        display: none;
        position: absolute;
        background-color: #21E7F7;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100px;
        height: 170px;
        margin-top: 0cm;
        z-index: 1;
        transform: translateX(16.2cm);
    }

    #titulos{
        position: relative;
        bottom: 400px;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
    }

    ul{
        width: 100%;
    }
}/* FIM dos estilos para tela max-width: 900px*/



/*
@media screen and (min-width: 700px){
    
    ul{
        text-align: center;
        padding: 0;
        background-color: #21E7F7;
        height: 80px;
        padding-top: 15px;
        padding: 0%;
        margin: 0%;
        width: 100%;
    }
    
    .hide{
        transform: translateX(31cm);
    }

    .Example-btn5{
        width: 180px;
        }

    .Example-btn5:hover{ 
        transition : 999ms;padding: 10px 50px;transform : translateY(-10px);background: linear-gradient(90deg, #21e7f7 0%, #ffe739 100%);color: #deffef;border: solid 2px #deffef;
    }

    .banner{
        width: 190px;            
    }

}/* FIM dos estilos para tela max-width: 784px

@media screen and (max-width: 700px){
    ul{
        text-align: center;
        background-color: #21E7F7;
        height: 80px;
        width: 100%;
    }

    #titulos{
        position: relative;
        bottom: 100px;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        font-size: 2px;
    }

    .Example-btn5{
        font-family: Bebas Neue; 
        font-weight: 0; 
        width: 120px;
        margin: 0% auto;
        font-size: 14px; 
        text-align: right;
        color: #fff; 
        background: linear-gradient(90deg, #21E7F7 0%, #ffe739 100%); 
        padding: 10px 50px; 
        border: none; 
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px; 
        border-radius: 50px; 
        transition : 1000ms; 
        transform: translateY(0); 
        font-family: Roboto, sans-serif;font-weight: 0;font-size: 14px;color: #fff;background: linear-gradient(90deg, #21e7f7 0%, #ffe739 100%);padding: 10px 30px;border: solid #000000 2px;box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;border-radius: 50px;transition : 999ms;transform: translateY(0);display: flex;flex-direction: row;align-items: center;cursor: pointer;
    }

    .Example-btn5:hover{ 
        transition : 1000ms; 
        transform : translateY(2px); 
        background: linear-gradient(90deg, #ffe739 0%, #21E7F7 100%); 
        color: #ffffff; 
        border: none;
        height: 120%;
        transition : 999ms;padding: 10px 40px;transform : translateY(-10px);background: linear-gradient(90deg, #21e7f7 0%, #ffe739 100%);color: #deffef;border: solid 2px #deffef;
    }

    .banner{
        width: 170px;
    }

    .hide{
        transform: translateX(1cm);
    }

    li{
        margin: 1%;
    }
}/* FIM dos estilos para tela max-width: 700px*/

